@import "styles/variables.scss";

@mixin spaceBetweenContents {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  background-color: $text-color-primary;
  width: 100%;
  color: #ffffff !important;
  padding: $spacing-lg;
  font-family: $blog-font;
  min-height: 200px;
  display: flex;
  align-items: center;
  @media screen and (min-width: $desktop) {
    height: 200px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  gap: $spacing-md;
  width: 100%;
  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: $spacing-lg;
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: 1fr;
  }
  p {
    @include blogAlt;
  }
}

.button {
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

.link {
  display: flex;
  align-items: center;
  svg {
    margin-right: $spacing-md;
  }
  &:hover {
    color: rgba(255, 255, 255, 0.75);
  }
}

/** Grid Areas */

.accreditation {
  @include spaceBetweenContents();
}

.navLinks {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  gap: $spacing-sm;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.socials {
  display: flex;
  flex-direction: column;
  & > * {
    margin: $spacing-sm 0;
  }
}

.newsletter {
  display: flex;
  flex: 1;
}

.scrollTop {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: flex-start;
}
