@import "./variables.scss";

body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

div,
footer,
header,
main,
article {
  box-sizing: border-box;
}

h1 {
  @include title;
  margin: $spacing-md 0;
}

h2 {
  @include subtitle;
  margin: $spacing-md 0;
}

h3 {
  @include emphasis;
  margin: $spacing-md 0;
}

button {
  background: none;
  white-space: nowrap;
  cursor: pointer;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

p {
  @include paragraph;
  margin: $spacing-sm 0;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}
