@import "styles/variables.scss";

.cover {
  width: 100%;
  height: calc(100vh - 160px);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  background-color: black;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.25;
    z-index: -1;
  }
}

.coverContent {
  display: flex;
  height: 100%;
  width: 66%;
  padding: $spacing-lg * 2;
  flex-direction: column;
  justify-content: space-between;
  h1,
  h3 {
    color: #ffffff;
  }
}
